* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: rgb(7, 197, 255);
  padding: 15px 0;
}

h1 {
}

#cuenta {
  display: flex;
  flex-direction: row;
}

.finalidad {
  background-color: rgba(230, 196, 7, 1);
  width: 90%;
  color: black;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
  margin-bottom: 30px;
}

.simply-section div {
  text-align: center;
  background-color: rgb(3, 47, 168) !important;
  color: white;
  padding: 15px;
  margin: 0 5px;
  border-radius: 5px;
  width: 130px;
  height: 130px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3);
}

.simply-amount {
  font-size: 3rem;
  font-weight: bold;
  display: block;
  margin-bottom: 0;
}
